*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.calculator{
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button{
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
